extends layout

block content
  .container
    .row
      h1.mb-5 Basket
    .row
      .col-10.offset-1
        if basket.length!==0
          table.table
            thead 
              tr
                th productname
                th quantity
                th price
                th &nbsp;
            tbody
              each basketItem in basket
                tr
                  td=basketItem.product.name
                  td
                    button.btn.btn-danger(onClick=`quantityChanged('${user._id}','${basketItem.product._id}','minus')`) -
                    input.quantity(name='quantity', type='number', value=basketItem.quantity, readonly)
                    button.btn.btn-success(onClick=`quantityChanged('${user._id}','${basketItem.product._id}','plus')`) +
                  td=basketItem.price
                  td
                    form(action=`/basket/removeItem/${basketItem._id}`, method='delete')
                      button.btn.btn-danger(type='submit') &#128465;
          hr
          .row
            .col-9
              strong.total Total: $ #{total}
            .col-3.text-center
              form(action=`/basket/removeAll/${user._id}`, method='delete')
                button.mb-2.btn.btn-danger(type='submit') Empty basket
          .text-center
            a.mt-3.mb-3.btn.btn-lg.btn-success(href='/pay/checkout') Pay    
        else
          .col-10.offset-1
            a(href='/products', style='text-decoration: inherit;')
              img(style='width:30%' src='img/emptybasket.png')
              h6.text-dark Your basket is empty. Start shoppig!
  
  script(src="/js/basket.js")