extends layout

block content
  .container-fluid.carousel-container
    .row
      h1.ml-5.mt-3.mb-5.text-dark Some of our best sellers
    .row
      .col-10.offset-1
        #carouselExampleIndicators.carousel.slide.mb-5(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              .row.mb-3
                .col-4.offset-1.ml-5.mt-3.mb-5.grey-square
                  h1.text-dark.ml-3=productCarousel[0].name
                  ul.mt-3.text-dark
                    each desc in productCarousel[0].shortdescription.split('.') 
                      li.ml-5
                        h4=desc
                  a.btn.btn-lg.btn-dark.mt-3.ml-5(href=`/products/product/${productCarousel[0].seo}`) Show
                .col-7.square.mb-5
                    img.carousel-img.mb-5(src=`${productCarousel[0].img[0]}`)

            each product in productCarousel
              if product !== productCarousel[0]
                .carousel-item
                  .row.mb-3
                    .col-4.offset-1.ml-5.mt-3.mb-5.grey-square
                      h1.text-dark.ml-3=product.name
                      ul.text-dark
                        each desc in product.shortdescription.split('.') 
                          li.ml-5
                            h4= desc
                      a.btn.btn-lg.btn-dark.mt-3.ml-5(href=`/products/product/${product.seo}`) Show
                    .col-7.square.mb-5
                      img.carousel-img.mb-5(src=`${product.img[0]}`)
          a.carousel-control-prev.mr-5(href='#carouselExampleIndicators', role='button', data-slide='prev')
          a.carousel-control-prev.mr-5(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next.ml-5(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
  .container-fluid.card-container-1
    .row
      .col-4.offset-1.mt-5
        h2 3D printing, also known as additive manufacturing, is a manufacturing process where a 3D printer creates three-dimensional objects by depositing materials layer by layer in accordance to the object’s 3D digital model.
      .col-6.offset-1
        .video-container
          video#myVideo(autoplay='', muted='', loop='')
            source(src='/img/y2mate.com - satisfying_3d_prints_timelapse_episode_7_prusa_i3_mk3_octopi_Dss1yUHH-QY_1080p.mp4', type='video/mp4')
      
  //- .container-fluid.parallax-1
  //-   .row
  //-     .col-6
  //-     .col-6
  .container-fluid.card-container-2
    .row.pt-5
      .col-6.offer-div
        h3 Browse in our categories
    .container
      .row.row-pullup
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-print.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=printers').flex-row.d-flex
                h4 Printers
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-eye.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=scanners').flex-row.d-flex
                h4 Scanners
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-fill-drip.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=filaments').flex-row.d-flex
                h4 Filaments
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-toolbox.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=tools').flex-row.d-flex
                h4 Tools
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=printers&scanners&tools&filaments') Printers and Scanners
                i.ml-2.fas.fa-cube.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-heartbeat.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=health').flex-row.d-flex
                h4 Health
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-plug.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=electronics').flex-row.d-flex
                h4 Electronics
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-wrench.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=mechanics').flex-row.d-flex
                h4 Mechanics
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-landmark.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=arthitecture').flex-row.d-flex
                h4 Architecture
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=health&electronics&mechanics&arthitecture') Science
                i.ml-2.fas.fa-flask.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-paper-plane.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=kids').flex-row.d-flex
                h4 Kids
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=kids&practical&accessories') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-cog.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=practical').flex-row.d-flex
                h4 Practical
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=kids&practical&accessories') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        .col-3.mb-4
          .card.card-browse
            .card-body
              h1.card-title
                i.fas.fa-puzzle-piece.icon(aria-hidden='true')
              a.card-link(href='/products/1?08c=accessories').flex-row.d-flex
                h4 Accessories
                h4.ml-3
                  i.fas.fa-chevron-right.icon(aria-hidden='true')
              a.card-link.menu-link(href='/products/1?08c=kids&practical&accessories') Magic
                i.ml-2.fas.fa-magic.icon(aria-hidden='true')
        

  .container-fluid.parallax-1.text-light
    .row
      h1.ml-5.mt-3 Customer reviews of our products
    .row.align-items-center.justify-content-center.text-center
      .col-10.offset-1
        #carouselExampleControls.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              img.review-pic.mt-3( src=`/img/users/${reviewCarousel[0].user.pictureurl}`, alt="user picture")
              .rating.mt-3
                input(type='radio',value='5', name='rate0', checked=(reviewCarousel[0].rate == 5))
                label(for='rating-5',title='Rocks!')
                input(type='radio', value='4', name='rate0', checked=(reviewCarousel[0].rate == 4))
                label(title='Pretty good', for='rating-4')
                input(type='radio', value='3', name='rate0', checked=(reviewCarousel[0].rate == 3))
                label(title='Meh', for='rating-3')
                input(type='radio', value='2', name='rate0', checked=(reviewCarousel[0].rate == 2))
                label(title='Kinda bad',for='rating-2')
                input(type='radio', value='1', name='rate0', checked=(reviewCarousel[0].rate == 1))
                label(title='Sucks big time', for='rating-1')
              h3
                div “#{reviewCarousel[0].text}”
              h5 #{reviewCarousel[0].user.firstname} #{reviewCarousel[0].user.lastname}
            each review,index in reviewCarousel
              if review !== reviewCarousel[0]
                if review !== undefined
                  .carousel-item
                    img.review-pic.mt-3(src=`/img/users/${review.user.pictureurl}`, alt="user picture")
                    .rating.mt-3
                      input(type='radio',value='5', name=`rate${index}`, checked=(review.rate == 5))
                      label(for='rating-5',title='Rocks!')
                      input(type='radio', value='4', name=`rate${index}`, checked=(review.rate == 4))
                      label(title='Pretty good', for='rating-4')
                      input(type='radio', value='3', name=`rate${index}`, checked=(review.rate == 3))
                      label(title='Meh', for='rating-3')
                      input(type='radio', value='2', name=`rate${index}`, checked=(review.rate == 2))
                      label(title='Kinda bad',for='rating-2')
                      input(type='radio', value='1', name=`rate${index}`, checked=(review.rate == 1))
                      label(title='Sucks big time', for='rating-1')
                    h3
                      div “#{review.text}”
                    h5 #{review.user.firstname} #{review.user.lastname}            
          a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

    //- #carouselExampleIndicators.carousel.slide.mb-5(data-ride='carousel')
    //-   .carousel-inner
    //-     .carousel-item.active
    //-       .row.mb-3
    //-         .col-4.offset-1.ml-5.mt-3.mb-5
    //-           if !reviewCarousel[0]==undefined
    //-             img.text-center.user-pic.mb-5(style="position:absolute; left:47%", src=`/img/users/${reviewCarousel[1].user.pictureurl}`, alt="user picture")
    //-             fieldset.rating.mt-5
    //-               .rating
    //-                 input(type='radio',value='5', name='rate', checked=(reviewCarousel[0].rate == 5))
    //-                 label(for='rating-5',title='Rocks!')
    //-                 input(type='radio', value='4', name='rate', checked=(reviewCarousel[0].rate == 4))
    //-                 label(title='Pretty good', for='rating-4')
    //-                 input(type='radio', value='3', name='rate', checked=(reviewCarousel[0].rate == 3))
    //-                 label(title='Meh', for='rating-3')
    //-                 input(type='radio', value='2', name='rate', checked=(reviewCarousel[0].rate == 2))
    //-                 label(title='Kinda bad',for='rating-2')
    //-                 input(type='radio', value='1', name='rate', checked=(reviewCarousel[0].rate == 1))
    //-                 label(title='Sucks big time', for='rating-1')
    //-             h4
    //-             div.text-light.text-center “#{reviewCarousel[0].text}”
    //-             h6.text-center
    //-               b.text-light.text-center #{reviewCarousel[0].user.firstname} #{reviewCarousel[0].user.lastname}
                    
    //-       each review in reviewCarousel
    //-         if review !== reviewCarousel[0]
    //-           if review !== undefined
    //-             img.user-pic.mb-5(style="position:absolute; left:47%", src=`/img/users/${review.user.pictureurl}`, alt="user picture")
    //-             fieldset.rating.mt-5
    //-               .rating
    //-                 input(type='radio',value='5', name='rate', checked=(review.rate == 5))
    //-                 label(for='rating-5',title='Rocks!')
    //-                 input(type='radio', value='4', name='rate', checked=(review.rate == 4))
    //-                 label(title='Pretty good', for='rating-4')
    //-                 input(type='radio', value='3', name='rate', checked=(review.rate == 3))
    //-                 label(title='Meh', for='rating-3')
    //-                 input(type='radio', value='2', name='rate', checked=(review.rate == 2))
    //-                 label(title='Kinda bad',for='rating-2')
    //-                 input(type='radio', value='1', name='rate', checked=(review.rate == 1))
    //-                 label(title='Sucks big time', for='rating-1')
    //-             h4
    //-               div.text-light.text-center “#{review.text}”
    //-             h6.text-center
    //-               b.text-light.text-center #{review.user.firstname} #{review.user.lastname}
    //-           a.carousel-control-prev.mr-5(href='#carouselExampleIndicators', role='button', data-slide='prev')
    //-             span.carousel-control-prev-icon(aria-hidden='true')
    //-             span.sr-only Previous
    //-           a.carousel-control-next.ml-5(href='#carouselExampleIndicators', role='button', data-slide='next')
    //-             span.carousel-control-next-icon(aria-hidden='true')
    //-             span.sr-only Next

  .container-fluid.card-container-3
    .container
      .row
        .col-2.offset-1.rabbit-img
          img(src="/img/e17238bedeb96b36bd533f0eb0652e82.jpg", alt="rabbit")
          i.fas.fa-gem.icon(aria-hidden='true')
        .col-8.rabbit-square
          .col-8.offset-4
            h1 We work together as a passionate group of people with love to design
            h5.mt-3 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            a.btn.btn-outline-info.btn-lg.mt-5(href='#') Button to smthin