extends layout

block content
  .container-fluid.mt-5.products-page
    .row.ml-5.mr-5
      .col-12.col-md-6.col-lg-2.pb-5
        .filter-block.sticky-top
          h3 Filtering
          form(role='form')
            h4.filter-heading.mb-3.mt-3 Brands
            .checkbox-container.row
              each brand in brands
                .col-6
                  input.form-check-input.brands(id=`${brand}` type="checkbox" name=`${brand}` value=`${brand}` checked=(brandsArr.includes(brand) ? "checked" : undefined))
                  | #{brand}
            
            h4.filter-heading.mb-3.mt-3 Categories
            .checkbox-container.row
              each category in categories
                .col-6
                  input.form-check-input.categories(id=`${category}` type="checkbox" name=`${category}` value=`${category}` checked=(categoriesArr.includes(category) ? "checked" : undefined))
                  | #{category}

            button.btn.btn-primary.mt-3(type='button', onclick='createFetch()') Filter



      .col-11.col-md-6.col-lg-10
        .row
          .col-4.ml-4
            input.form-control#searchInput(type='text' placeholder='Search...' onkeyup="searchFunction()")
          .col-2.offset-4
            select.form-control#per-page(onchange="getval(this);")
              option(value='08' selected=(perPage == 8 ? 'selected' : undefined)) 8 per page
              option(value='12' selected=(perPage == 12 ? 'selected' : undefined)) 12 per page
              option(value='24' selected=(perPage == 24 ? 'selected' : undefined)) 24 per page
            

        ul.row.mt-5#search-ul(style='list-style: none')
          each product in products
            li.col-12.col-md-6.col-lg-3
              .card.product-card.mb-5
                .image-div
                  img.card-img-top.mx-auto.d-block(src=product.img[0] alt='product image')
                .card-body
                  h5.card-title #{product.name}
                  h6.card-text #{product.brand}
                  h6.card-text #{product.price}€
                  p.card-text
                    if (product.isactive == 1)
                      small.text-muted In stock
                    else
                      small.text-muted Out of stock
                  a.btn.btn-info.col-10.btn-show(href=`product/${product.seo}`) Show more
        .row.pb-5
          if (pages > 0)
            ul.pagination.text-center
              if (current == 1)
                li.disabled.page-item
                  a.page-link First
              else
                li.page-item
                  a.page-link(href=`1`) First
              - var i = (Number(current) > 5 ? Number(current) - 4 : 1)
              if (i !== 1)
                li.disabled.page-item
                  a.page-link ...
              - for (; i <= (Number(current) + 4) && i <= pages; i++)
                  if (i == current)
                    li.active.page-item
                      a.page-link=`${i}`
                  else
                    li.page-item
                      a.page-link(href=`${i}?${search}`)=`${i}`
                  if (i == Number(current) + 4 && i < pages)
                    li.disabled.page-item
                      a.page-link ...
              if (current == pages)
                li.disabled.page-item
                  a.page-link Last
              else
                li.page-item
                  a.page-link(href=`${pages}`) Last