extends layout

block content
  .container-fluid
    .row.ml-5.mr-5
      .col-12.col-md-6.col-lg-2
        .filter-block.sticky-top
          h3 Filter your choices
          form(method='GET' action='/products' role='form')
            h4.filter-heading.mb-3.mt-3 Products per page
            -let num = ['4','8','12'];
            div.customized-select(style='width: 150px')
              select.form-control(name='prodsPerPage' style='width: 150px')
                each perPage in num
                  if limit==perPage
                    option(value=perPage selected) #{perPage}
                  else 
                    option(value=perPage) #{perPage}

            input(type="hidden", name="filter", value="1")
            input(type="hidden", name="page", value="0")
            .form-group.form-check

            h4.filter-heading.mb-3.mt-3 Brands
            div.customized-select(style='width: 150px')
              select.form-control(name='brands' style='width: 150px')
                each brand in brands
                  option(value=`${brand}` selected) #{brand}
            h4.filter-heading.mb-3.mt-3 Categories
            div.customized-select(style='width: 150px')
              select.form-control(name='categories' style='width: 150px')
                each category in categories
                  option(value=`${category}` selected) #{category}
            button.btn.btn-primary.mt-3(type='submit') Filter



      .col-11.col-md-6.col-lg-10
        .row
          each product in products
            .col-12.col-md-6.col-lg-3
              .card.product-card.mb-5
                .image-div
                  img.card-img-top.mx-auto.d-block(src=product.img[0] alt='product image')
                .card-body
                  h5.card-title #{product.name}
                  h6.card-text #{product.brand}
                  h6.card-text #{product.price}€
                  p.card-text
                    if (product.isactive == 1)
                      small.text-muted In stock
                    else
                      small.text-muted Out of stock
        .row
          if (pages > 0)
            ul.pagination.text-center
              if (current == 1)
                li.disabled.page-item
                  a.page-link First
              else
                li.page-item
                  a.page-link(href='/products/1') First
              - var i = (Number(current) > 5 ? Number(current) - 4 : 1)
              if (i !== 1)
                li.disabled.page-item
                  a.page-link ...
              - for (; i <= (Number(current) + 4) && i <= pages; i++)
                  if (i == current)
                    li.active.page-item
                      a.page-link=`${i}`
                  else
                    li.page-item
                      a.page-link(href=`/products/${i}`)=`${i}`
                  if (i == Number(current) + 4 && i < pages)
                    li.disabled.page-item
                      a.page-link ...
              if (current == pages)
                li.disabled.page-item
                  a.page-link Last
              else
                li.page-item
                  a.page-link(href=`/products/${pages}`) Last