extends layout

block content
  link(rel='stylesheet', href='/stylesheets/productinfo.css')
  script
    include ../public/js/productinfo.js
  .container.product-page
    .row
      .col-md-4.mt-md-5
        each img,index in product.img
          .mySlides.mt-md-5.text-center
            .numbertext=index+1
            img.text-center.img-top(src=img)
          a.prev(onclick='plusSlides(-1)') &#x276E;
          a.next(onclick='plusSlides(1)') &#x276F;
        .row
          each img,index in product.img
            .column
              img.demo.cursor(src=img, onclick=`currentSlide(${index+1})`)
      .col-md-4.mt-md-5.text-center.text-md-left
        p.mt-3.mt-md-5=product.brand
        h3=product.name
        ul
          each description in (product.shortdescription).split('.')
            li=description
      .col-md-4.mt-md-5.mt-3.text-center.text-md-left
        h3.mt-md-5 $#{product.price}
        small Price shown includes 27% VAT. 
        u Excludes delivery costs
        p.text-success Dispatch in 6-8 days
        if user
          form(action=`/basket/${product._id}`, method="post")
            .form-group.d-flex.flex-column.align-items-center.align-items-md-start
              label.text-dark Quantity :
              input.form-control(type='number', name='quantity', value=1 , min=1, style="width:100px") 
              input.none.form-control(type='number', name='price', value=product.price) 
              button.btn.btn-primary Add to basket
      hr
    .row
      .col-md-5.mt-5.ml-3
        table.table.table-borderless
          tbody
            tr
              td Name: 
              td #{product.name}
            tr
              td Brand:
              td #{product.brand}
            tr
              td Category:
              if product.subcategory
                td #{product.menu}/ #{product.category}/ #{product.subcategory}
              else
                td #{product.menu}/ #{product.category}
    if product.video
      .row          
        .col-md-5.mt-md-5.ml-3.text-center.text-md-left
          h3 Description
          each detail in product.description.split('.')
            h6.description=detail
        .col-md-6.mt-3.mb-5.embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item( src=product.video, frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    else
      .row          
        .col-10.ml-3.text-justify.text-md-left
          h3 Description
          each detail in product.description.split('.')
            h6.description=detail+'.'

    hr
    .row
      .col-12
        .product-background.mt-3.mb-3
          h3.mb-5 Product Reviews

          if reviews
            each review,index in reviews
              .row
                .col-md-9.text-right
                  -function dateFormatting(dateString) {
                    -const date = new Date(dateString);
                    -const d = date.getDate();
                    -const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    -const m = monthNames[date.getMonth()];
                    -const y = date.getFullYear();
                    -const h= date.getHours();
                    -const min=date.getMinutes();
                    -const t = date.getTime();
                    -const sec = date.getSeconds();
                    -return `${d} ${m} ${y} ${h}:${min}:${sec}`;
                  -}
                  small.text-muted=dateFormatting(review.insdate)
                .col-7
                  input.form-control.edit(data-id=index, disabled, name='text', value=review.text)
                  button.mt-2.btn.btn-outline-success.hidden.hide(data-id=index, onclick=`updateReview('${user._id}','${review._id}')`) Change
                if user
                  if user.firstname==review.user.firstname && user.lastname==review.user.lastname
                    .col-4.col-md-2.text-right
                      .dropdown
                        button#dropdownMenuButton.btn.btn-outline-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .dropdown-menu(aria-labelledby='dropdownMenuButton')
                          a.btn.btn-outline-secondary.dropdown-item(href=`/products/reviews/remove/${review._id}`)
                            i.fa.fa-trash(aria-hidden='true')
                          button.btn.btn-outline-secondary.dropdown-item(data-id=index, onclick=`toggleDisabled(event)`) &#9998;
              .row
                .col-6.col-md-3.ml-2
                  if review.user
                    small.text-muted Posted by: #{ review.user.firstname } #{review.user.lastname}
                .col-2.col-md-1
                  small.text-muted #{ review.rate }&starf;
              hr

          if user
            .col-12.text-center
              button.btn.btn-info(href='#', onClick='showReview()') Leave a Review
          #review.col-md-6.offset-md-3.mt-5.mb-5.none
            form.form(action='/products/reviews' method='post')
              .card
                h5.card-header Rate This Product
                .card-body
                  input.none.form-control(name='product' type='text' value=`${product._id}`)
                  input.none.form-control(name='seo' type='text' value=`${product.seo}`)
                  textarea.form-control(name='text', placeholder='Write something...')
                  fieldset.rating
                  .rating
                    input#rating-5(type='radio',value='5', name='rate')
                    label(for='rating-5',title='Rocks!')
                    input#rating-4(type='radio', value='4', name='rate')
                    label(title='Pretty good', for='rating-4')
                    input#rating-3(type='radio', value='3', name='rate')
                    label(title='Meh', for='rating-3')
                    input#rating-2(type='radio', value='2', name='rate')
                    label(title='Kinda bad',for='rating-2')
                    input#rating-1(type='radio', value='1', name='rate')
                    label(title='Sucks big time', for='rating-1')
                .card-footer.text-center
                  button.btn.btn-info(type='submit') SEND
                  button.btn.btn-secondary( onClick='onCancel()') CANCEL