extends user

block form
  form.user-form#account(method='POST' action='/user/user-form/account' role='form' style='display: block')
    .form-group
      h6 Firstname
      input.form-control(type='text' name='firstname' placeholder=`${user.firstname}` value=`${user.firstname}`)
    .form-group
      h6 Lasttname
      input.form-control(type='text' name='lastname' placeholder=`${user.lastname}` value=`${user.lastname}`)
    .form-group
      h6 Username
      input.form-control(type='text' name='username' placeholder=`${user.username}` value=`${user.username}`)
    .form-group
      h6 Email address
      input.form-control(type='email' name='email' placeholder=`${user.email}` value=`${user.email}`)
      small.form-text.text-muted We'll never share your email with anyone else.
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save
  form.user-form#password(method='POST', action='/user/user-form/password' role='form')
    .form-group
      h6 Current password
      input.form-control(type='password' name='oldPassword' placeholder='Enter password' value='')
    .form-group
      h6 New password
      input.form-control(type='password' name='newPassword' placeholder='Enter password' value='')
    .form-group
      h6 New password again
      input.form-control(type='password' name='newPasswordConf' placeholder='Enter password' value='')
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save
  form.user-form#address(method='POST', action='/user/user-form/address' role='form')
    .form-group
      h6 Country
      input.form-control(type='text' name='address' placeholder=`${user.address[0]}` value=`${user.address[0]}`)
    .form-group
      h6 City
      input.form-control(type='text' name='address' placeholder=`${user.address[1]}` value=`${user.address[1]}`)
    .form-group
      h6 Postal code
      input.form-control(type='number' name='address' placeholder=`${user.address[2]}` value=`${user.address[2]}`)
    .form-group
      h6 Street
      input.form-control(type='text' name='address' placeholder=`${user.address[3]}` value=`${user.address[3]}`)
    .form-group
      h6 Number
      input.form-control(type='number' name='address' placeholder=`${user.address[4]}` value=`${user.address[4]}`)
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save
  form.user-form#billing(method='POST', action='/user/user-form/billing' role='form')
    .form-group
      h6 Bank of your card
      input.form-control(type='text', placeholder='Enter bank name')
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save
  form.user-form#orders(method='DELETE', action='/user/orders' role='form')
    table.table
      thead
        tr
          th Product
          th Orderdate
          th
      tbody
        tr
          td product
          td orderdate
          td
            button.btn.btn-danger(type='submit') Delete order
