extends user

block form
  form.user-form#account(method='POST' action='/user/account' role='form')
    .form-group
      h6 Firstname
      input.form-control(type='text' name='firstname' placeholder=`${user.firstname}` value=`${user.firstname}`)
    .form-group
      h6 Lasttname
      input.form-control(type='text' name='lastname' placeholder=`${user.lastname}` value=`${user.lastname}`)
    .form-group
      h6 Username
      input.form-control(type='text' name='username' placeholder=`${user.username}` value=`${user.username}`)
    .form-group
      h6 Email address
      input.form-control(type='email' name='email' placeholder=`${user.email}` value=`${user.email}`)
      small.form-text.text-muted We'll never share your email with anyone else.
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save

  form.user-form#upload(method='POST' action='/user/upload' role='form' enctype='multipart/form-data')
    .form-group
      .input-group
        .custom-file
          input.custom-file-input(type='file', name='upload')
          label.custom-file-label Choose a file
        .input-group-append
          button.btn.btn-outline-secondary(type='sumbit') Upload

  form.user-form#password(method='POST', action='/user/password' role='form')
    .form-group
      h6 Current password
      input.form-control(type='password' name='oldPassword' placeholder='Enter password' value='')
    .form-group
      h6 New password
      input.form-control(type='password' name='newPassword' placeholder='Enter password' value='')
    .form-group
      h6 New password again
      input.form-control(type='password' name='newPasswordConf' placeholder='Enter password' value='')
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save

  form.user-form#address(method='POST', action='/user/address' role='form')
    .form-group
      h6 Country
      input.form-control(type='text' name='address' placeholder=`${user.address[0]}` value=`${user.address[0]}`)
    .form-group
      h6 City
      input.form-control(type='text' name='address' placeholder=`${user.address[1]}` value=`${user.address[1]}`)
    .form-group
      h6 Postal code
      input.form-control(type='number' name='address' placeholder=`${user.address[2]}` value=`${user.address[2]}`)
    .form-group
      h6 Street
      input.form-control(type='text' name='address' placeholder=`${user.address[3]}` value=`${user.address[3]}`)
    .form-group
      h6 Number
      input.form-control(type='number' name='address' placeholder=`${user.address[4]}` value=`${user.address[4]}`)
    .col-3.offset-9
      button.btn.btn-dark.btn-block(type='submit') Save

  .user-form#basket
    if basket
      if basket.length!==0
                table.table
                  thead 
                    tr
                      th productname
                      th quantity
                      th price
                      th &nbsp;
                  tbody
                    each basketItem in basket
                      tr
                        td=basketItem.product.name
                        td
                          button.btn.btn-danger(onClick=`quantityChanged('${user._id}','${basketItem.product._id}','minus')`) -
                          input.quantity(name='quantity', type='number', value=basketItem.quantity, readonly)
                          button.btn.btn-success(onClick=`quantityChanged('${user._id}','${basketItem.product._id}','plus')`) +
                        td=basketItem.price
                        td
                          form(action=`/basket/removeItem/${basketItem._id}`, method='delete')
                            button.btn.btn-danger(type='submit') &#128465;
                hr
                .row
                  .col-9
                    strong.total Total: $ #{total}
                  .col-3.text-center
                    form(action=`/basket/removeAll/${user._id}`, method='delete')
                      button.mb-2.btn.btn-danger(type='submit') Empty basket
                .text-center
                  a.mt-3.mb-3.btn.btn-lg.btn-success(href='/pay/checkout') Pay    
    else
      a(href='/products', style='text-decoration: inherit')
        h3.text-center.text-dark Your basket is empty. Start shopping!
        img(style='width:100%' src='/img/empty_cart.jpg')

  .user-form#orders
    table.table
      thead
        tr
          th Product(s)
          th Quantity
          th Price
          th Orderdate
          th Status
          th
      tbody
        -function dateFormatting(dateString) {
          -const date = new Date(dateString);
          -const d = date.getDate();
          -const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          -const m = monthNames[date.getMonth()];
          -const y = date.getFullYear();
          -const h= date.getHours();
          - const min=date.getMinutes();
          -const t = date.getTime();
          -const sec = date.getSeconds();
          -return `${d} ${m} ${y} ${h}:${min}:${sec}`;
        -}
        each order in orders
          tr
            td
              each item in order.product
                p(style='margin:0;padding:0;')=item.name
            td
              each quantity, index in order.quantity
                p(style='margin:0;padding:0;')=quantity[order.product[index].name]
            td $ #{order.unitprice}
            td #{dateFormatting(order.insdate)}
            td=order.status
            td
              form(method='DELETE', action=`/user/orders/${order._id}`)
                button.btn.btn-danger(type='submit') Delete order

  form.user-form#delete(method='POST', action=`/user/${user._id}`)
    .form-group
      h4 Do you want to delete your account?
    button.btn.btn-danger.col-3(type='submit') Yes

